# shellcheck disable=SC2034
# shellcheck disable=SC2148
layout python

export ROOT_DIR="/home/xyz/Development/enbis-2024"
export PARAMS="params-dev.yaml"
export VIRTUAL_ENV=.venv
export PATH=$VIRTUAL_ENV/bin:$PATH
export API_PORT=8080
export DEMO_PORT=8081
